.arrow-box {
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #5FCCF4;
	transition: transform .2s ease-in;
}

.arrow-box .arrow {
	width: 0;
	height: 0;
	border: 15px solid transparent;
	margin-top: -12.5px;
	border-bottom-color: #FFFFFF;
}

.arrow-box.top {
	transform: rotate(0);
}
.arrow-box.right {
	transform: rotate(90deg);
}
.arrow-box.bottom {
	transform: rotate(180deg);
}
.arrow-box.left {
	transform: rotate(270deg);
}